:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-white-color: #fff;
  --highlight-color: #2196f3;
  --secondary-white-color: #f5f4f5;
  --fill-color: #2f303a;
  --button-active-color: #188ce8;
  --card-border-color: #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  }

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
.header {
border-bottom: 1px solid var(--card-border-color); ;
}

.header-container {
  height: 80px;
  display: flex;
  align-items: center;
}
.nav-flex {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.logo-header {
margin-right: 93px;
  
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.logo-h1 {
  color: var(--highlight-color);
}

.nav-ul-flex {
  display: flex;
  gap: 50px;
}

.nav-ul-flex .link-header:hover,
.nav-ul-flex .link-header:focus {
  color: var(--highlight-color);
}
.nav-ul-flex .link-header.current {
  color: var(--highlight-color);
}


.link-header {

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
 
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.ul-mail-flex {
  display: flex;
  gap: 30px;
  align-items: center;
}

.link-header-mail {
  
  list-style: none;
  color: var(--secondary-text-color);
}

.link-header-mail:hover,
.link-header-mail:focus {
  color: var(--highlight-color);
}
.link-header-number {
  list-style: none;
  color: var(--secondary-text-color);
}
.link-header-number:hover,
.link-header-number:focus {
  color: var(--highlight-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--fill-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
section {
  display: block;
}
.main-h1-title {
  color: var(--main-white-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
button {
  border: none;
  outline: none;
  margin: 0 auto;
  display: block;
}
.button {
  width: 216px;
  height: 50px;
  background-color: var(--highlight-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}

.button:hover {
  background-color: var(--button-active-color);
  color: var(--main-white-color);
}
.button:focus {
  background-color: var(--button-active-color);
  color: var(--main-white-color);
}
.button:active {
  background-color: var(--button-active-color);
  color: var(--main-white-color);
}
.hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
section {
  display: block;
}

.sec-two {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-skills {
  display: flex;
  justify-content: space-between;
}
.skill-cont {
  line-height: 1.71;
letter-spacing: 0.03em;
  width: 270px;
  color: var(--secondary-text-color);
}

.skill-name {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
margin-bottom: 10px;
}

.skill-descr {
  font-size: 14px;
  line-height: 1.7; 
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


.sec-three {
  text-align: center;
  width: 100%;
  
  padding-bottom: 94px;
}
.sec-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.images-block {
  display: flex;
  justify-content: center;
}

.images {
  padding: 0 15px;
  list-style: none;
}
.sec-four {
  background-color: var(--secondary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.cards {
  display: flex;
  gap: 30px;
}
.card {
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
}

.our-team {
  padding: 30px 0;
}
.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.job {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
}

.sec-one-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: inherit;
  justify-content: center;
  margin-bottom: 34px;
}


.button-portfolio {
  width: auto;
  height: 38px;
  background-color: var(--secondary-white-color);
  color: var(--main-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  margin-right: 8px;
}
.button-portfolio:hover {
  background-color: var(--highlight-color);
  color: var(--main-white-color);
}
.button-portfolio:active {
  background-color: var(--button-active-color);
  color: var(--main-white-color);
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.portfolio-card {
  background-color: var(--main-white-color);
  flex-basis: calc((100% - 60px) / 3)
}


.portfolio-name-type{
padding: 20px 24px;
border: 1px solid var(--card-border-color);
border-top: none;
}
.portfolio-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 2;
}

.footer {
  padding: 60px 0;
  background-color: var(--fill-color);
}

.footer-content{
gap: 9px;
display: flex ;
flex-direction: column;
}
.text-logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  margin-bottom: 20px;
  display: inline-block;
}

.footer-elem-item {
  list-style: none;
  font-style: normal;
}

.footer-link-address {
  color: var(--main-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  
}
.footer-link-address:hover,
.footer-link-address:focus {
  color: var(--highlight-color);
}

.footer-links {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
 
}
.footer-links:hover,
.footer-links:focus {
  color: var(--highlight-color);
}
